@page "/login"
@using ServerSide_GameRater.Shared
@inject AppState AppState
@inject NavigationManager NavigationManager
@inject IDataService DataService

@if (AppState.userID == 0)
{
    <PageTitle>Login In</PageTitle>
    <h1>Log In</h1>
    <EditForm Model="user" OnValidSubmit="Submit">
        <label>Username</label>
        <InputText @bind-Value="username" />
        <br />
        <br />
        <label>Password</label>
        <InputText @bind-Value="pass" />
        <br />

        <button type="submit" class="btn btn-primary" @onclick ="Submit">Login</button>
    </EditForm>
    <br />
    <button class="btn btn-primary" @onclick="SubmitRegister">Register</button>
    <p>@status</p>
   

}
else
{
    <h1>Signed In Successfully</h1>
    <button class="btn btn-primary" @onclick="SubmitLogout">Logout</button>
}

    

@code {
    User user = new User();
    string status;
    string username;
    string pass;
    string currUser;

    protected override async Task OnInitializedAsync()
    {
        DataService.GetUsers();
    }
    void SubmitRegister()
    {
        NavigationManager.NavigateTo("/register");
    }
    async Task Submit()
    {

        var nameCheck = DataService.Users.Where(u => u.username == username).Select(u => u.userID).FirstOrDefault();
        var passCheck = DataService.Users.Where(u => u.password == pass).Select(u => u.userID).FirstOrDefault();
        if(nameCheck == passCheck)
        {
            AppState.userID = nameCheck;
            
        }
        else
        {
            status = "No Account With That Username/Password Combination";
        }

    }
    
    void SubmitLogout()
    {
        AppState.userID = 0;
    }
}
