@page "/register"
@using ServerSide_GameRater.Shared
@inject IDataService DataService
@inject AppState AppState
<h3>Register</h3>
<EditForm Model="user" OnValidSubmit="Submit">
    <label>Email</label>
    <InputText @bind-Value="user.email" />
    
    <br />
    <br />
    <label>Username</label>
    <InputText @bind-Value="user.username" />
    <br />
    <br />
    <label>Password</label>
    <InputText @bind-Value="user.password" />
    <br />
    <button type ="submit" class="btn btn-primary">Register</button>
    
</EditForm>
<h3>@status</h3>
@code {
    public string status;
    User user = new User();
    async Task Submit()
    {
        await DataService.CreateUser(user);
        AppState.userID = user.userID;
        status = "Account Created";
    }
}
